.message{
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}
.massage-header{
	text-align: left;
	margin: 10px 20px;
}

.message-text{
	text-align: left;
	margin: 10px 20px;
}

.message-author{
  text-align: right;
  margin: 10px 20px;
}

.delete-button{
	position: absolute;
	top: 0;
	right: 0;
}

.small-text{
	font-size: 14px;
	color: #AAA;
	font-weight: normal;
}