.App {
 max-width: 1000px;
}

.form{
	display: block;
	border: 1px solid black;
	border-radius: 10px;
}

.form-text{
	width: 300px;
	height: 100px;
	margin: 0 20px 10px;
}

.form-name{
	margin: 0 20px 10px;
}

.form-submit{

	display: block;
	margin: 0 auto;
}

.text{
	margin: 0 20px;
}