.App {
 max-width: 500px;
 margin: 0 auto;
}

.form{
	display: block;
	border: 1px solid black;
	border-radius: 10px;
}

.form-text{

	width: 400px;
	height: auto;
	margin: 0 20px 10px;
}

.form-name{
	width: 300px;

	
}

.form-submit{
	display: block;
	margin: 0 10px;
}

.text{
	margin: 0;
}

.send-group{
	display: flex;
	align-items: flex-end;
}